<?xml version="1.0"?>
<launch>

    <arg name="port" default="/dev/ttyUSB0" />
    <arg name="led_num" default="1" />
    <arg name="override" default="false" />

    <node name="leds" pkg="iirob_led" type="iirob_led_node" output="screen">
        <param name="port" value="$(arg port)" />
        <param name="led_num" value="$(arg led_num)" />
        <param name="override" value="$(arg override)" />
    </node>

</launch>
