<?xml version="1.0"?>
<launch>

    <arg name="port" default="/dev/ttyUSB1" />
    <arg name="led_num" default="384" />
    <arg name="override" default="true" />
    <arg name="type" default="rectangle" />
    <arg name="pub_transform" default="true"/>
    <arg name="base_frame" default="base_link" />
    <arg name="local_frame" default="led_rectangle_link" />
    <arg name="transformation" default="0 0 0 0 0 0 1" />
    <arg name="max_force" default="50" />

    <include file="$(find iirob_led)/launch/iirob_led_node.launch">
        <arg name="port" value="$(arg port)" />
	<arg name="led_num" value="$(arg led_num)" />
	<arg name="override" value="$(arg override)" />
	<arg name="type" value="$(arg type)" />
        <arg name="pub_transform" value="$(arg pub_transform)"/>
	<arg name="base_frame" value="$(arg base_frame)" />
	<arg name="local_frame" value="$(arg local_frame)" />
	<arg name="transformation" value="$(arg transformation)" />
	<arg name="max_force" value="$(arg max_force)" />
    </include>

</launch>
