<?xml version="1.0"?>
<launch>
    <arg name="port" default="/dev/ttyUSB0" />
    <arg name="led_num" value="384" />
    <arg name="override" default="true" />
    <arg name="type" default="rectangle" />
    <arg name="local_frame" default="led_rectangle_link" />
    <arg name="max_force" default="20" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="led_rectangle_transform" args="3 -2 5 -0.8 0.7 0.2 0.9 base_link $(arg local_frame)" /> <!-- Transform from /base_link to /local_frame -->

    <node name="leds_rectangle" pkg="iirob_led" type="iirob_led_node" output="screen">
        <param name="port" value="$(arg port)" />
        <param name="led_num" value="$(arg led_num)" />
        <param name="override" value="$(arg override)" />
	<param name="type" type="string" value="$(arg type)" />
	<param name="local_frame" value="$(arg local_frame)" />
	<param name="max_force" value="$(arg max_force)" />
    </node>

</launch>
